spring:
  config:
    activate:
      on-profile: local
telegram:
  bot:
    username: your_market_bot
    token: replace-me
  channel:
    id: "-1000000000000"
    username: your_market
    url: https://t.me/your_market
  payment:
    provider-token: replace-me
